useDynLib(fcros, .registration = TRUE, .fixes = "C_")

export(fcros,fcros2,fcrosMod,fcrosFCmat,fcrosRead,fcrosWrite,fcrosTtest,fcrosTopN,
fvalVolcanoPlot,histoPlot,dataSummary,chrSegment,chrPlot,chrPlot2,chrMerge,rmatCalc,
rmatTrim,moyStdCalc,pfco,pfcoMod,tprobaCalc,fc2Calc,fvalTopN,pvalTopN,voomReads,
tcnReads,rankReads,pvalVolcanoPlot)

importFrom("graphics", "abline", "hist", "lines", "plot", "points")
importFrom("stats", "mad", "pnorm", "sd", "t.test", "median", "pf", "runif")
importFrom("utils", "read.table", "write.table")